<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.boilerplate">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android:usesCleartextTraffic" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:remove="android:maxSdkVersion" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <application
        android:name=".base.BaseApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_my_logo"
        android:label="POS Inventory"
        android:roundIcon="@drawable/ic_my_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme.NoActionBar"

        tools:targetApi="31" >
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity
            android:name=".ui.sample.activity.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="userPortrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <activity-->
<!--            android:name=".ui.sample.activity.LoginActivity"-->
<!--            android:screenOrientation="userPortrait"-->
<!--            android:theme="@style/AppTheme.NoActionBar" />-->

        <activity
            android:name=".ui.sample.activity.MainActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.sample.activity.RegisterActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.article.activity.CustomerActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".ui.sample.activity.SplashScreenActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>